# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
raw-components/

# Large binary files
*.mov
*.mp4
*.avi
*.webm

# Editor directories and files
.idea/
.vscode/
*.code-workspace
.cursor/

# Build files
build/
dist/
*.tsbuildinfo

# Environment variables
.env
.env.*
figma-images/

# Android
android/
*.aab
*.apk
*.hprof
.gradle/
local.properties

# iOS/Xcode specific
ios/build/
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
DerivedData/
*.hmap
*.ipa
