<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351272853841-24k61p1j3a3cas6ejhb3t9nuhjclp9uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351272853841-24k61p1j3a3cas6ejhb3t9nuhjclp9uu</string>
	<key>API_KEY</key>
	<string>AIzaSyBIUZfX9v0YXQBxmv4WxiBUm335dOzAUKE</string>
	<key>GCM_SENDER_ID</key>
	<string>351272853841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.tiffosi.store</string>
	<key>PROJECT_ID</key>
	<string>tiffosi-production</string>
	<key>STORAGE_BUCKET</key>
	<string>tiffosi-production.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351272853841:ios:34f504eb0890fcf18f7370</string>
</dict>
</plist>